@media (min-width: 400px) {
    .poster{
        width: 150px;
    }
}


@media (min-width: 700px) {
    .poster{
        width: 230px;
    }
}


@media (min-width: 1280px) {
    .poster{
        width: 420px;
    }
}




header{
    padding: 10px;
    background:black;
}



h1
{
    color: #fad000;
    display:inline;
    box-sizing: border-box;
    
}


body{
    background: wheat;
}

/* Area Filmes*/

#Filmes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#Filmes > div{
    margin: 0 auto;
    padding-top: 30px;

}

.poster:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}



footer {
    background: black;
    text-align: center;
    padding: 10px;
}

.box.icons a{
    padding: 10px;
    width: 40px;
    height: 40px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}





/* A tag <ul> no cabeçalho */
.menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-left:850px;*/ 
}

/* A tag <li> no cabeçalho (itens do menu)*/
.itens {
    padding: 10px;
    border: 2px;
    color: black;
    border-radius: 10px;
    transition: .5s;
    background-color: #fad000;
}

.itens
{
    margin-left:30px;rodapePrincipal
    display:flex;
}

.itens a{
    text-decoration:none;
    text-transform: capitalize;
    color: black;
}

.itens a:hover{
    /*color:yellow;*/
    font-weight: bold;
}

.rodapePrincipal .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-right: 5%;

}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}